@model ProductAddViewModel

@using (Html.BeginForm())
{
    <table cellpadding="0" cellspacing="0">
        <tr>
            <th colspan="2" align="center">Description</th>
        </tr>
        <tr>
            <td>Code: </td>
            <td>
                @Html.TextBoxFor(m => m.Description)
                @*,new { @Value =@Model.Code, @required  = "required"}*@
            </td>
        </tr>
        <tr>
            <th colspan="2" align="center">Choose A Category</th>
        </tr>
        <tr>
            <td>Description: </td>
            <td>
                @Html.DropDownList("Categories",(SelectList)ViewData["Categories"]);
            </td>
        </tr>
        <tr>
            <td></td>
            <td><input type="submit" value="Submit" /></td>
        </tr>
    </table>
}