@model List<Color>

@using (Html.BeginForm())
{
    <p>
        Find by name: @Html.TextBox("ColorCode")
        <input type="submit" value="Search" />
    </p>
}
<table class="table ">
    <thead>
        <tr>
            <th scope="col">Code</th>
            <th scope="col">Description</th>
        </tr>
    </thead>
    <tbody>
        @foreach (Color color in Model)
        {
            <tr>
                <td>@color.Code</td>
                <td>@color.Description</td>
            </tr>
        }
    </tbody>
</table>
  
